.botao{
  background-color: #6278F7;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 29px;
}

.botao:hover{
  color: #95ffd4;
  transition: .2s ease-in-out;
}